<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie Finder</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="chartjs-wrapper">
		<canvas class="chartjs-gauge-1"></canvas>
		<canvas class="chartjs-gauge-2"></canvas>
		<canvas class="chartjs-gauge-3"></canvas>
    </div>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
	<script src="../js/runtime_gauge.js"></script> 
	<script src="../js/wins_noms_gauge.js"></script> 
	<script src="../js/voteCount_gauge.js"></script> 
</body>


</html> 

