<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Multiline</title>
	<link rel="stylesheet" href="style.css">
</head>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="cool_chart.js"></script> 

<body>
    <div class="chartjs-wrapper">
        <canvas class="chartjs-gauge"></canvas>
    </div>
	<!-- <div id="gauge_plot"></div> -->
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
	<script src="cool_chart.js"></script> 
</body>


</html> 

