<!DOCTYPE html>
<HTML lang="en">

<Head>
    <Meta chartset="UTF-8">
    <Meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <Title>Movie Finder</Title>
    <Meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <Meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <Meta name="viewport" content="width=device-width">
    <!-- Bootswatch Lux & Bootstrap Customization -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-oOs/gFavzADqv3i5nCM+9CzXe3e5vXLXZ5LZ7PplpsWpTCufB7kqkTlC9FtZ5nJo" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
        defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"
        defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
        defer></script>
    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js" defer></script>
    <script type="text/javascript" src="https://d3js.org/d3-scale-chromatic.v1.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0" defer></script>
    <script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-base.min.js" defer></script>
    <script type="text/javascript" src="../js/runtime_gauge.js" defer></script>
    <script type="text/javascript" src="../js/wins_noms_gauge.js" defer></script>
    <script type="text/javascript" src="../js/voteCount_gauge.js" defer></script>
    <script type="text/javascript" src="../js/quad.js" defer></script>
    <script type="text/javascript" src="../js/descriptionTest.js" defer></script>
</Head>

<Body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="#">Movie Finder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <select class="custom-select">
                            <option selected>Genre</option>
                            <!-- value="Action" is just an example.  It is unnecessary for this dropdown -->
                            <option value="Action">Action</option>
                            <option>Thriller</option>
                            <option>Sci-Fi</option>
                            <option>Romance</option>
                            <option>Horror</option>
                            <option>Comedy</option>
                            <option>Drama</option>
                            <option>Mystery</option>
                            <option>Animation</option>
                            <option>Adeventure</option>
                            <option>Fantasy</option>
                            <option>War</option>
                            <option>Biography</option>
                            <option>Western</option>
                            <option>Film-Noir</option>
                        </select>
                    </li>
                    <li>
                        <select class="custom-select">
                            <option selected>X-Axis</option>
                            <option>IMDB</option>
                            <option>Rotten Tomatoes</option>
                            <option>Metacritic</option>
                            <option>Metascore</option>
                            <option>Box Office</option>
                        </select>
                    </li>
                    <li>
                        <select class="custom-select">
                            <option selected>Y-Axis</option>
                            <option>IMDB</option>
                            <option>Rotten Tomatoes</option>
                            <option>Metacritic</option>
                            <option>Metascore</option>
                            <option>Box Office</option>
                        </select>
                    </li>
                </ul>
                <form class="form-inline my-2 my-md-0">
                    <!-- <input class="form-control mr-sm-2" id="search" type="search" placeholder="Movie Title"
                        aria-label="Search"> -->
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    <!-- Code eventlisterners for genre, x-axis, and y-axis search menus here -->
                </form>
            </div>
        </nav>
    </div>

    <Div class="content">
        <Div class="container-fluid">
            <Div class="row">
                <Div class="col-md-12">
                    <Div class="Box">
                        <Div class="header">
                            <H1 class="title" style="text-align:center"><br>What's on TV?</H1>
                            <P class="category" style="text-align:center">Compare 10 Movies According to Genre and Rank
                                Them By Various Ratings and Box Office Numbers.
                                <br>Click On the Dots to Select Each Individual Movie!</P>
                        </Div>
                        <Div class="content" style="text-align:center">
                            <Div class="row">
                                <Div class="col-xs-12 col-lg-9 offset-lg-3">
                                    <H2><br>Four Quadrant Chart</H2>
                                    <P class="category">See How the Numbers Stack Up on the Board</P>
                                    <!-- PUT QUADRANT GRAPH HERE -->
                                </Div>
                                <Div class="col-xs-12 col-lg-3">
                                    <div class="chartjs-wrapper">
                                        <H2>Gauge 1</H2>
                                        <P class="category">Runtime (min) for the Selected Movie versus the Movie on the
                                            Chart with the Longest Runtime</P>
                                        <canvas class="chartjs-gauge-1">
                                            <!-- GAUGE 1 -->
                                        </canvas>
                                        <H2><br>Gauge 2</H2>
                                        <P class="category">Number of IMDB Votes for Selected Movie versus Movie on the
                                            Chart with the most Votes</P>
                                        <canvas class="chartjs-gauge-2">
                                            <!--  GAUGE 2 -->
                                        </canvas>
                                        <H2><br>Gauge 3</H2>
                                        <P class="category">Wins versus Nominations for Selected Movie</P>
                                        <canvas class="chartjs-gauge-3">
                                            <!-- GAUGE 3 -->
                                        </canvas>
                                    </div>
                                </Div>
                            </Div>
                            <Div class="row">
                                <Div class="col-xs"><br><br>
                                    <img id="poster" class="rounded" style="width: 18rem"
                                        src="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"
                                        alt="No Movie Poster Avaliable">
                                    <!-- PUT MOVIE POSTER in src -->
                                    </img>
                                </Div>
                                <H1 class="col-xs offset-xs-3" id="Title">Blade Runner 2049</H1>
                            </Div>
                        </Div>
                    </Div>
                </Div>
            </Div>
        </Div>
</Body>

</HTML>