<!DOCTYPE html>
<HTML lang="en">

<Head>
    <Meta chartset="UTF-8">
    <Meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <Title>What's on TV?</Title>
    <Meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <Meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <Meta name="viewport" content="width=device-width">
    <!-- Boostrap and Bootswatch Spacelab Customization -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-oOs/gFavzADqv3i5nCM+9CzXe3e5vXLXZ5LZ7PplpsWpTCufB7kqkTlC9FtZ5nJo" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</Head>

<Body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">What's on TV?</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Genre
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" id="action" href="#">Action</a>
                            <a class="dropdown-item" id="thriller" href="#">Thriller</a>
                            <a class="dropdown-item" id="sci-fi" href="#">Sci-Fi</a>
                            <a class="dropdown-item" id="romance" href="#">Romance</a>
                            <a class="dropdown-item" id="horror" href="#">Horror</a>
                            <a class="dropdown-item" id="comedy" href="#">Comedy</a>
                            <a class="dropdown-item" id="drama" href="#">Drama</a>
                            <a class="dropdown-item" id="mystery" href="#">Mystery</a>
                            <a class="dropdown-item" id="animation" href="#">Animation</a>
                            <a class="dropdown-item" id="adeventure" href="#">Adeventure</a>
                            <a class="dropdown-item" id="fantasy" href="#">Fantasy</a>
                            <a class="dropdown-item" id="war" href="#">War</a>
                            <a class="dropdown-item" id="biography" href="#">Biography</a>
                            <a class="dropdown-item" id="western" href="#">Western</a>
                            <a class="dropdown-item" id="film-noir" href="#">Film-Noir</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Other</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" id="search" type="search" placeholder="Movie Title" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>

    <Div class="content">
        <Div class="container-fluid">
            <Div class="row">
                <Div class="col-md-12">
                    <Div class="Box">
                        <Div class="header">
                            <H1 class="title">Four Quadrant Chart</H1>
                                <P class="category" id="quadrant">Compare ten movies according to reviews vs. box office</P>
                        </Div>
                        <Div class="content">
                            <Div class="row">
                                <Div class="Col-xs-12 col-sm-12 col-md-6">
                                    <H2>vs. Max Temperature</H2>
                                    <A href="Fig1-latVStemp.html"></A>
                                    <Img class="img-fluid" src="Resources/Fig1.png"
                                        alt="City Latitude vs. Max Temperature" height="500" width="500">
                                    <H3>vs. Humidity</H3>
                                    <A href="Fig2-latVShum.html"></A>
                                    <Img class="img-fluid" src="Resources/Fig2.png" alt="City Latitude vs. Humidity"
                                        height="500" width="500">
                                </Div>
                                <Div class="col-xs-12 col-sm-12 col-md-6">
                                    <H2>vs. Cloudiness</H2>
                                    <A href="Fig3-latVScloud.html"></A>
                                    <Img class="img-fluid" src="Resources/Fig3.png" alt="City Latitude vs Cloudiness"
                                        height="500" width="500">
                                    <H3>vs. Wind Speed</H3>
                                    <A href="Fig3-latVScloud.html"></A>
                                    <Img class="img-fluid" src="Resources/Fig4.png" alt="City Latitude vs. Wind Speed"
                                        height="500" width="500">
                                </Div>
                            </Div>
                        </Div>
                    </Div>
                </Div>
            </Div>
        </Div>
    </Div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</Body>

</HTML>