<!DOCTYPE html>
<HTML lang="en">

<Head>
    <Meta chartset="UTF-8">
    <Meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <Title>What's on TV?</Title>
    <Meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <Meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <Meta name="viewport" content="width=device-width">
    <!-- Bootswatch Lux & Bootstrap Customization -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-oOs/gFavzADqv3i5nCM+9CzXe3e5vXLXZ5LZ7PplpsWpTCufB7kqkTlC9FtZ5nJo" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
        defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"
        defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
        defer></script>
    <script type="text/javascript" src="js/quad.js" defer></script>
</Head>

<Body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="#">What's on TV?</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Genre
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" id="Action" href="#">Action</a>
                            <a class="dropdown-item" id="Thriller" href="#">Thriller</a>
                            <a class="dropdown-item" id="Sci-Fi" href="#">Sci-Fi</a>
                            <a class="dropdown-item" id="Romance" href="#">Romance</a>
                            <a class="dropdown-item" id="Horror" href="#">Horror</a>
                            <a class="dropdown-item" id="Comedy" href="#">Comedy</a>
                            <a class="dropdown-item" id="Drama" href="#">Drama</a>
                            <a class="dropdown-item" id="Mystery" href="#">Mystery</a>
                            <a class="dropdown-item" id="Animation" href="#">Animation</a>
                            <a class="dropdown-item" id="Adeventure" href="#">Adeventure</a>
                            <a class="dropdown-item" id="Fantasy" href="#">Fantasy</a>
                            <a class="dropdown-item" id="War" href="#">War</a>
                            <a class="dropdown-item" id="Biography" href="#">Biography</a>
                            <a class="dropdown-item" id="Western" href="#">Western</a>
                            <a class="dropdown-item" id="Film-Noir" href="#">Film-Noir</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" id="Other" href="#">Other</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            X-Axis
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" id="xIMDB" href="#">IMDB</a>
                            <a class="dropdown-item" id="xRottenTomatoes" href="#">Rotten Tomatoes</a>
                            <a class="dropdown-item" id="xMetacritic" href="#">Metacritic</a>
                            <a class="dropdown-item" id="xMetascore" href="#">Metascore</a>
                            <a class="dropdown-item" id="xBoxOffice" href="#">Box Office</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Y-Axis
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item" id="yIMDB" href="#">IMDB</a>
                            <a class="dropdown-item" id="yRottenTomatoes" href="#">Rotten Tomatoes</a>
                            <a class="dropdown-item" id="yMetacritic" href="#">Metacritic</a>
                            <a class="dropdown-item" id="yMetascore" href="#">Metascore</a>
                            <a class="dropdown-item" id="yBoxOffice" href="#">Box Office</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-md-0">
                    <input class="form-control mr-sm-2" id="search" type="search" placeholder="Movie Title"
                        aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>

    <Div class="content">
        <Div class="container-fluid">
            <Div class="row">
                <Div class="col-md-12">
                    <Div class="Box">
                        <Div class="header">
                            <H1 class="title" style="text-align:center"><br>Our Project</H1>
                            <P class="category" style="text-align:center">Project Description</P>
                        </Div>
                        <Div class="content" style="text-align:center">
                            <Div class="row">
                                <Div class="col-xs-12 col-md-12 col-lg-9 offset-lg-3">
                                    <H2>Four Quadrant Chart</H2>
                                    <P class="category">Compare ten movies according to
                                        reviews ratings and box office numbers</P>
                                    <div id="quadrant">
                                        <!-- PUT QUADRANT GRAPH HERE -->
                                    </div>
                                </Div>
                                <Div class="col-xs col-md col-lg-3">
                                    <H2>Gauge 1</H2>
                                    <P class="category">Compares X and Y</P>
                                    <div id="gauge1">
                                        <!-- PUT GAUGE 1 HERE-->
                                    </div>
                                    <H2><br>Gauge 2</H2>
                                    <P class="category">Compares X and Y</P>
                                    <div id="gauge2">
                                        <!-- PUT GAUGE 2 HERE -->
                                    </div>
                                    <H2><br>Gauge 3</H2>
                                    <P class="category">Compares X and Y</P>
                                    <div id="gauge3">
                                        <!-- PUT GAUGE 3 HERE -->
                                    </div>
                                </Div>
                            </Div>
                            <Div class="row">
                                <Div class="col-xs-6 col-lg-4" style="text-align:center">
                                    <div id="poster">
                                        <!-- PUT MOVIE POSTER HERE -->
                                    </div>                                
                                </Div>
                            </Div></div>>
                        </Div>
                    </Div>
                </Div>
            </Div>
        </Div>
    </Div>
</Body>

</HTML>