<!DOCTYPE html>
<HTML lang="en">

<Head>
    <Meta chartset="UTF-8">
    <Meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <Title>Movie Finder</Title>
    <Meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <Meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <Meta name="viewport" content="width=device-width">

    <!-- Favicon -->
    <link rel="icon" href="../static/images/favicon.png">

    <!-- Bootswatch Lux & Bootstrap Customization -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-oOs/gFavzADqv3i5nCM+9CzXe3e5vXLXZ5LZ7PplpsWpTCufB7kqkTlC9FtZ5nJo" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
        defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"
        defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
        defer></script>

    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js" defer></script>
    <script type="text/javascript" src="https://d3js.org/d3-scale-chromatic.v1.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0" defer></script>

    <!-- JQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"
        defer></script>

    <script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-base.min.js" defer></script>

    <!-- Paths to Relevant JavaScript Files -->
    <script type="text/javascript" src="../static/js/runtime_gauge.js" defer></script>
    <script type="text/javascript" src="../static/js/wins_noms_gauge.js" defer></script>
    <script type="text/javascript" src="../static/js/voteCount_gauge.js" defer></script>
    <script type="text/javascript" src="../static/js/quad.js" defer></script>
    <script type="text/javascript" src="../static/js/movieDescription.js" defer></script>

</Head>

<Body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand btn btn-space" href="#">Movie Finder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <select class="custom-select mr-5" onchange="optionChanged(this.value)">
                            <option selected>Genre</option>
                            <option value="Action">Action</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Animation">Animation</option>
                            <option value="Biography">Biography</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Crime">Crime</option>
                            <option value="Drama">Drama</option>
                            <option value="Family">Family</option>
                            <option value="Fantasy">Fantasy</option>
                            <option value="History">History</option>
                            <option value="Horror">Horror</option>
                            <option value="Musical">Musical</option>
                            <option value="Mystery">Mystery</option>
                            <option value="Romance">Romance</option>
                            <option value="Sci-Fi">Sci-Fi</option>
                            <option value="Thriller">Thriller</option>
                            <option value="War">War</option>
                            <option value="Western">Western</option>
                        </select>
                    </li>
                    <li>
                        <select class="custom-select ml-1">
                            <option selected>X-Axis: Rotten Tomatoes</option>
                        </select>
                    </li>
                    <li>
                        <select class="custom-select ml-2">
                            <option selected>Y-Axis: IMDB</option>
                        </select>
                    </li>
                </ul>
                <form class="form-inline my-2 my-md-0">
                    <!-- <input class="form-control mr-sm-2" id="search" type="search" placeholder="Movie Title"
                        aria-label="Search"> -->
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Home</button>
                    <!-- Code eventlisterners for genre, x-axis, and y-axis search menus here -->
                </form>
            </div>
        </nav>
    </div>

    <Div class="content">
        <Div class="container-fluid">
            <Div class="row">
                <Div class="col-md-12">
                    <Div class="Box">
                        <Div class="header">
                        </Div>
                        <Div class="content" style="text-align:center">
                            <Div class="row">
                                <Div class="col-xs-12 col-lg-8">
                                    <H2><br>What to Watch Tonight</H2>
                                    <P class="category">Movies Ranked by Critics and Users.
                                        Click Data Points for More Info.
                                    </P>

                                    <div id="Quadrant" style="width: 90%; height: 90%;"></div>
                                    <!-- QUADRANT CHART -->
                                </Div>
                                <Div class="col-xs-12 col-lg-3">
                                    <div class="chartjs-wrapper">
                                        <H2><br>Runtime</H2>
                                        <P class="category"></P>
                                        <canvas id="canvas1">
                                            <!-- GAUGE 1 -->
                                        </canvas>
                                        <H2><br>IMDB Votes</H2>
                                        <P class="category"></P>
                                        <canvas id="canvas3">
                                            <!--  GAUGE 2 -->
                                        </canvas>
                                        <H2><br>Wins vs Nominations</H2>
                                        <P class="category"></P>
                                        <canvas id="canvas2">
                                            <!-- GAUGE 3 -->
                                        </canvas>
                                    </div>
                                </Div>
                            </Div>
                            <Div id="Poster" class="container-fluid">
                                <Div class="row img-rounded img-poster">
                                    <!-- PUT MOVIE POSTER in src -->
                                </Div>
                            </Div>
                            <!-- <H1 class="col-xs offset-xs-3" id="Title">Blade Runner 2049</H1> -->
                        </Div>
                    </Div>
                </Div>
            </Div>
        </Div>
    </Div>
</Body>

</HTML>

                                    <!-- <img class="rounded" style="width: 18rem"
                                            alt="No Movie Poster Avaliable"> -->
                                    <!-- src="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg" -->
                                    
                                    <!-- </img> -->